.blog {
    &-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & + .blog-item {
            margin-top: 30px;
        }
    }

    &-item__title {
        font-size: 2.2rem;
    }

    &-item__img {
        object-fit: cover !important;
    }
}
