@use "../mixin";

.heading {
    font-size: 3.2rem;
    font-weight: var(--bold);
    color: var(--secondary-color);
    text-align: center;
}

.lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);

    gap: 20px;
    grid-template-areas:
        "card-1 card-6"
        "card-1 card-2"
        "card-3 card-2"
        "card-3 card-4"
        "card-5 card-4"
        "card-5 card-7";

    padding: 30px;

    @include mixin.screen(md) {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

.item {
    background: rgba($color: #fff, $alpha: 0.7);
    border-radius: 20px;

    &__thumb {
        flex: 1;
        height: 300px;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &__inner {
        padding: 24px;
    }

    &__title {
        text-align: center;
        font-size: 2.4rem;
        font-weight: var(--medium);
        color: var(--accent-color);
    }

    &__desc {
        min-height: 126px;

        margin-top: 12px;
        font-size: 1.4rem;
        color: var(--text-muted);

        &--typing {
            opacity: 0;
            white-space: pre-line;
            transition: all 0.5s ease-in-out;

            &.active {
                opacity: 1;
            }

            & .char {
                opacity: 0;
                animation: fadeInChar 0.4s forwards;
            }
        }
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.35s ease,
        visibility 0s linear 0.35s;

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        transition: opacity 0.35s ease;
    }

    &__content {
        position: relative;
        background: #fff;
        width: 70vw;
        max-width: 1100px;
        // min-height: 80vh;
        padding: 24px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        transform: translateY(100px);
        opacity: 0;

        transition:
            transform 0.7s ease,
            opacity 0.7s ease;

        @include mixin.screen(md) {
            width: 100vw;
            height: 100%;
            border-radius: 0;
            overflow-y: auto;
            overscroll-behavior: contain;
        }
    }

    &.show .overlay__content {
        transform: translateY(0);
        opacity: 1;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 16px;
        font-size: 2.4rem;
        padding: 8px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    &__thumbs {
        @include mixin.screen(md) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 20px;
            margin-top: 40px;
        }
    }

    &__thumb {
        border: none;
        background: transparent;

        padding: 0;
        cursor: pointer;
        flex: 0 0 auto;
        border-radius: 6px;
        overflow: hidden;
        outline: 2px solid transparent;
        transition:
            outline 0.2s ease,
            transform 0.2s ease;

        & + .overlay__thumb {
            margin-left: 24px;
        }
    }

    &__thumb img {
        display: block;
        width: 64px;
        height: 48px;
        object-fit: cover;
    }

    &__thumb:hover {
        transform: translateY(-2px);
    }

    &__thumb.is-active {
        outline: 2px solid #0077ff;
    }

    &__body {
        display: flex;
        gap: 20px;
        margin-top: 8px;
        height: 100%;
        min-height: 260px;

        @include mixin.screen(md) {
            flex-direction: column;
            min-height: initial;
        }
    }

    &__left {
        flex: 0.5 0 30%;
        height: calc(100vh - 70vh);
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__desc {
        font-size: 1.6rem;
    }

    &__btn {
        margin-top: 16px;
        display: flex;
    }

    &__action-btn {
        border: none;
        outline: none;
        padding: 10px 32px;
        border-radius: 999px;
        cursor: pointer;
        font-size: 1.6rem;
        background: #3297aa;
        color: #fff;
        font-weight: 500;
        transition:
            transform 0.15s ease,
            box-shadow 0.15s ease,
            background 0.15s ease;

        & + .overlay__action-btn {
            margin-left: 12px;
        }

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            background: rgba($color: #3297aa, $alpha: 0.8);
        }

        &.playing {
            background: #ef7979;
        }
    }
}

.action-btn__close {
    background-color: #b33d3d;
}

.overlay.show .overlay__content {
    transform: translateY(0);
    opacity: 1;
}

@keyframes fadeInChar {
    from {
        opacity: 0.9;
        transform: translateX(-3px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card-6,
.card-7 {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    opacity: 0.5;
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-6 {
    grid-area: card-6;
}

.card-7 {
    grid-area: card-7;
}

// ----------------------Flip card---------------------
.flip-card {
    width: 100%;
    perspective: 1200px;
    border: 0.5px solid #fff;
    border-radius: 14px;
    cursor: pointer;

    @include mixin.screen(md) {
        height: 250px;
    }

    &__inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.9s cubic-bezier(0.5, 0.1, 0.3, 1);
    }

    &.is-flipped .flip-card__inner {
        transform: rotateY(180deg);
    }

    &__front {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    &__front,
    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 14px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 90%;
        object-fit: cover;

        @include mixin.screen(md) {
            height: 80%;
        }
    }

    &__title {
        flex: 1;
        font-size: 2.4rem;
        font-weight: var(--bold);
        color: var(--secondary-color);

        @include mixin.screen(lg) {
            font-size: 1.8rem;
        }
    }

    &__back {
        background: rgba($color: #fff, $alpha: 0.3);
        color: var(--text-muted);
        padding: 20px;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
