@use "../mixin";

// Hero
.hero {
    position: relative;

    &__image {
        display: block;
        width: 100%;
        height: calc(100vh - 54px);
        object-fit: cover;

        @include mixin.screen(md) {
            height: calc(100vh - 70px);
        }
    }

    &__inner {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: #fff;

        @include mixin.screen(md) {
            left: 45%;
        }
        @include mixin.screen(sm) {
            left: 50%;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 3.8rem;
        font-weight: var(--bold);

        @include mixin.screen(md) {
            font-size: 3rem;
        }

        @include mixin.screen(sm) {
            font-size: 2.2rem;
        }
    }

    &__icon {
        display: inline-block;
        width: 40px;
        height: 40px;
    }

    &__desc {
        margin-top: 8px;
        font-size: 2rem;
        font-weight: var(--medium);

        @include mixin.screen(sm) {
            font-size: 1.8rem;
        }
    }
}

// Introduce
.introduce {
    margin-top: 50px;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__content {
        margin-left: 20px;
        flex: 1;

        &-thumb {
            display: flex;
        }

        &-img {
            width: 300px;
            height: 220px;
        }
    }
    &__heading {
        margin-top: 20px;
        font-size: 2.4rem;
        color: var(--primary-color);
        font-weight: var(--bold);
    }
    &__desc {
        width: 70%;

        @include mixin.screen(md) {
            width: 100%;
        }
    }
    &__list {
        margin-left: 15px;
    }
    &__item:nth-child(4) {
        margin-left: 20px;
    }
    &__item:nth-child(5) {
        margin-left: 20px;
    }

    &__icon {
        width: 14px;
        height: 14px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__thumb {
        width: 50%;
        height: 650px;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__point {
        @include mixin.screen(md) {
            font-size: 1.4rem;
        }
    }
}

.introduce-mobile {
    margin-top: 20px;

    &__wrap {
        margin-left: 30px;
    }

    &__thumb {
        display: flex;
        gap: 10px;
        height: 400px;
        width: inherit;
    }

    &__content {
        margin-left: 0;
        &-thumb {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-img {
            width: 150px;
            height: 150px;

            @include mixin.screen(sm) {
                width: 100px;
                height: 100px;
            }
        }
    }
}

// Feature
.feature {
    margin-top: 30px;
    &__title {
        color: var(--secondary-color);

        text-align: center;
        font-size: 2rem;
        font-weight: var(--bold);

        @include mixin.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__card {
        margin-top: 10px;
        background: var(--card-bg);
        border-radius: 8px;
    }

    &__inner {
        padding: 16px 20px;
    }

    &__name {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 1.8rem;
        color: var(--primary-color);
        font-weight: var(--medium);
    }

    &__icon {
        margin-top: -5px;
        width: 20px;
        height: 20px;
        object-fit: cover;
    }

    &__text {
        margin-left: 28px;
        color: var(--text-muted);
    }

    &__thumb {
        position: relative;
        padding-top: 115%;

        @include mixin.screen(md) {
            padding-top: 58%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 0px 8px 8px;
    }
}

// History
.history {
    padding: 50px 0;
    &__wrap {
        width: calc(100vw - 8px);
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        overflow: hidden;

        margin-bottom: 20px;

        @include mixin.screen(md) {
            width: 100vw;
        }
    }

    &__top-img {
        display: block;
        width: 100%;
        height: 350px;
        // object-fit: cover;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 3.2rem;
        color: var(--primary-color);
        font-weight: var(--bold);

        @include mixin.screen(sm) {
            font-size: 2.4rem;
        }
    }

    &__card {
        background: var(--card-bg);
        border-radius: 8px;
    }

    &__info {
        padding: 16px 30px;
    }

    &__card-title {
        font-size: 2rem;
        font-weight: var(--medium);
        color: var(--secondary-color);
        text-align: center;
    }

    &__desc {
        margin-top: 8px;
        font-size: 1.4rem;
        color: var(--text-muted);
    }

    &__img-wrap {
        height: 300px;

        @include mixin.screen(md) {
            height: 200px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

// Slider custom css
.custom-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
}

.custom-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: rgba($color: #fff, $alpha: 0.75);
    transition: transform 0.3s;

    &.active {
        background: #fff;
    }

    &:hover {
        background: #fff;
    }
}
