@use "../mixin";

.breadcrumb {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 20px;

    @include mixin.screen(lg) {
        flex-wrap: wrap;
    }

    &-link {
        position: relative;
        padding: 12px 8px;
        border-radius: 8px;
        background: #7bd4e6;

        font-size: 1.8rem;

        @include mixin.screen(xl) {
            font-size: 1.5rem;
        }

        @include mixin.screen(md) {
            padding: 6px;
        }

        &.active {
            font-weight: 700;
            color: #fff;
            box-shadow: 0 2px 6px rgba(0, 100, 120, 0.25);
        }

        &.active::after {
            color: #fff;
        }

        &::after {
            content: ">";
            position: absolute;
            top: 45%;
            right: -14px;
            color: #034250;

            transform: translateY(-50%);
        }

        &:last-child::after {
            content: "";
        }
    }
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mixin.screen(md) {
        margin-top: 50px;
    }

    &-item {
        width: 80%;
        padding: 30px;
        background: #fff;
        border-radius: 16px;

        & + .content-item {
            margin-top: 30px;
        }

        @include mixin.screen(md) {
            padding: 16px;
            width: 100%;
        }

        &__img {
            margin: 20px 0;
            width: 100%;
            height: 400px;
            border-radius: 10px;
            object-fit: cover;

            @include mixin.screen(lg) {
                height: 250px;
            }
        }

        &__title {
            font-size: 2.4rem;
            line-height: var(--line-height);
            font-weight: 700;
        }

        &__desc {
            padding: 0 16px;
            font-size: 1.4rem;
            line-height: var(--line-height);
        }
    }
}
