@use "../mixin";

.footer {
    padding: 20px 0;
    background: var(--accent-color);
    opacity: 0.9;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mixin.screen(md) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__left {
        width: 220px;

        @include mixin.screen(md) {
            width: 100%;
        }
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        color: var(--text-main);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include mixin.screen(md) {
            flex-direction: row;
        }
    }

    &__link {
        padding: 10px;
        color: var(--secondary-color);
        transition: text-shadow 0.3s;

        &:hover {
            text-shadow:
                0.5px 0 0 currentColor,
                -0.5px 0 0 currentColor;
        }
    }

    &__contact {
        color: var(--text-main);
    }
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: var(--text-main);

    &__wrap {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
    }

    &__icon {
        width: 32px;
        height: 32px;
        transition: all 0.3s ease-in-out;

        @include mixin.screen(md) {
            width: 50px;
            height: 50px;
        }

        &:hover {
            transform: scale(1.5);
        }
    }
}

.copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: var(--bold);
    color: var(--text-muted);

    @include mixin.screen(sm) {
        font-size: 0.8rem;
    }

    &-mobile {
        color: #000;
    }
}
