@use "../mixin";

.header {
    position: sticky;
    top: 0;
    z-index: 5;

    background: linear-gradient(
        45deg,
        rgba(250, 218, 97, 1) 0%,
        rgba(255, 145, 136, 1) 50%,
        rgba(255, 90, 205, 1) 100%
    );

    &__wrap {
        display: flex;
        align-items: center;

        @include mixin.screen(md) {
            justify-content: space-around;
            padding: 20px 0;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;

    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__title {
        color: #fff;
        font-weight: 700;
    }
}

.navbar {
    margin-left: auto;
    user-select: none;
    padding: 6px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        height: 50px;
        padding: 0 50px;

        @include mixin.screen(lg) {
            padding: 0 40px;
        }

        @include mixin.screen(md) {
            flex-direction: column;
            align-items: flex-start;

            margin-top: 30px;
            padding: 0;
            height: initial;
        }
    }

    &__item {
        position: relative;
    }

    &__link {
        position: relative;
        font-size: 1.8rem;
        color: #fff;
        padding: 20px 10px;

        @include mixin.screen(md) {
            color: #000;
        }

        &--icon {
            @include mixin.screen(md) {
                &::after {
                    content: "▸";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    padding: 10px;
                    rotate: 0deg;
                    transition: rotate 0.3s;
                }
            }
        }

        &:hover {
            color: #eee;

            @include mixin.screen(md) {
                color: #333;
            }
        }
    }
}

// Navbar Mobile
.navbar {
    &-close {
        position: absolute;
        top: 15px;
        right: 30px;
        padding: 10px;

        font-size: 2.4rem;
    }

    &-menu {
        flex-direction: column;

        &__icon {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }
    }

    &-mobile {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        padding: 30px;

        margin-left: auto;
        width: 80%;
        height: 100vh;
        border-radius: 20px 0 0 20px;
        color: #000;

        overflow-y: auto;
        overscroll-behavior: contain;
        transition: right 0.3s ease-in-out;
        background: #fff;

        &.show {
            position: fixed;
            right: 0;
            z-index: 2;
        }
    }

    &-social-mobile {
        margin-top: auto;
        padding-top: 20px;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: 1;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.navbar__item--menu:hover > .menu {
    display: block;

    @include mixin.screen(md) {
        display: none;
    }
}

.navbar__item--menu-mobile.active > .navbar__link--icon::after {
    rotate: 90deg;
}

.navbar__item--menu-mobile > .menu.show {
    @include mixin.screen(md) {
        display: block;
    }
}

.menu {
    position: absolute;
    top: 40px;
    left: 15px;
    display: none;
    width: 140px;
    background: rgba(255, 90, 205, 0.8);

    @include mixin.screen(md) {
        position: initial;
        margin-top: 15px;
        background: #fff;
    }

    > &__item {
        display: inline-block;
        margin: 12px;
        padding-bottom: 20px;
    }

    &__item {
        position: relative;
        color: #333;

        & + .menu__item {
            @include mixin.screen(md) {
                margin-top: 8px;
            }
        }

        &:hover > .sub-menu {
            display: block;

            @include mixin.screen(md) {
                display: none;
            }
        }

        & > .sub-menu.show {
            @include mixin.screen(md) {
                display: block;
            }
        }

        &:hover {
            color: #eee;
            background: rgb(255, 145, 136);

            @include mixin.screen(md) {
                color: initial;
                background: initial;
            }
        }

        &.active > .menu__link::after {
            rotate: 90deg;
        }
    }

    &__link {
        display: block;
        padding: 10px 16px;
        border-bottom: 1px solid #eee;
        color: #fff;

        @include mixin.screen(md) {
            padding: 10px;

            border-bottom: none;
            color: #000;

            &::after {
                content: "▸";
                position: absolute;
                top: 8px;
                right: 30px;
                rotate: 0deg;
                transition: rotate 0.3s;
            }
        }
    }
}

.sub-menu {
    position: absolute;
    top: 32px;
    left: -12px;
    width: 140px;
    background: rgba(255, 145, 136, 0.8);

    @include mixin.screen(md) {
        position: initial;
        margin-left: 15px;
        border-left: 1px solid #333;
        background: #fff;
    }

    &__item:hover {
        color: #eee;
        background: rgb(255, 90, 205);

        @include mixin.screen(md) {
            color: initial;
            background: initial;
        }
    }

    &__link {
        display: block;
        padding: 10px 16px;
        color: #fff;
        border-bottom: 1px solid #eee;

        @include mixin.screen(md) {
            padding: 10px;

            border-bottom: none;
            color: #000;
        }
    }

    &.sub-menu {
        left: 100%;
        top: 0;
        display: none;
    }
}

// Tab line
.tabs {
    display: flex;
    position: relative;

    &-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        text-align: center;
        color: #c23564;
        // background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            opacity: 1;
            background-color: rgba(194, 53, 100, 0.05);
            border-color: rgba(194, 53, 100, 0.1);
        }

        &.active {
            opacity: 1;
        }
    }
}

.tabs .line {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #eb3e7899;
    transition: all 0.5s ease-in-out;
}

// Hero
.hero {
    &__heading {
        margin-bottom: 30px;
        text-align: center;
        font-size: 4.8rem;

        background: linear-gradient(
            135deg,
            rgba(255, 97, 100, 1) 50%,
            rgba(176, 0, 18, 1) 100%
        );

        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    &__item {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: #fff;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    &__info {
        line-height: 150%;
        color: #333;
    }

    &__name {
        font-weight: 700;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__img {
        width: 100%;
        height: 200px;
        border-radius: 16px;
        object-fit: cover;
    }

    &__desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        font-size: 1.4rem;
        line-height: 150%;
        color: #000;
    }
}
