@use "../mixin";

.slide {
    position: relative;
}

.slidezy-wrapper {
    width: 100%;
    overflow: hidden;
}

.slidezy-content {
    position: relative;
}

.slidezy-track {
    display: flex;
}

.slidezy-slide {
    flex: 0 0 auto;
}

.slidezy-prev,
.slidezy-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.slidezy-prev {
    left: 5px;
}

.slidezy-next {
    right: 5px;
}

.slidezy-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 140px;
    bottom: 10px;
    gap: 8px;
    margin-top: 8px;
}

.slidezy-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: rgba($color: #fff, $alpha: 0.75);
    transition: transform 0.3s;

    &.active {
        background: #fff;
    }

    &:hover {
        background: #fff;
    }
}

// Custom slide style
.slide {
    &-inner {
        display: flex;
        flex-direction: row-reverse;
        background: #ffffff;
        background: linear-gradient(
            90deg,
            rgba(0, 212, 255, 1) 0%,
            rgba(157, 243, 245, 1) 50%,
            rgba(237, 252, 255, 1) 100%
        );
    }

    &-img {
        display: block;
        margin: 5px;

        width: 100%;
        height: 300px;
        border-radius: 999px;
        object-fit: cover;

        @include mixin.screen(lg) {
            margin: 0;
            border-radius: 0px;
        }
    }

    &-info {
        margin-right: auto;
        width: 35%;
        align-self: center;
        padding: 30px;

        @include mixin.screen(xl) {
            width: 50%;
            padding: 20px;
        }
    }

    &-title {
        font-size: 3rem;
        margin-bottom: 16px;
        color: var(--accent-color);
        font-weight: var(--bold);
    }

    &-desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;

        color: var(--text-main);

        @include mixin.screen(xl) {
            -webkit-line-clamp: 3;
        }
    }
}
