@use "../mixin";

.slide {
    position: relative;
}

.slidezy-wrapper {
    width: 100%;
    overflow: hidden;
}

.slidezy-content {
    position: relative;
}

.slidezy-track {
    display: flex;
}

.slidezy-slide {
    flex: 0 0 auto;
}

.slidezy-prev,
.slidezy-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.slidezy-prev {
    left: 5px;
}

.slidezy-next {
    right: 5px;
}

.slidezy-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    bottom: 10px;
    gap: 5px;
    margin-left: 50%;
}

.slidezy-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: rgba($color: #fff, $alpha: 0.75);
    transition: transform 0.3s;

    &:hover {
        background: #fff;
    }
}

.slidezy-dot.active {
    background: #fff;
}

// Custom slide style
.slide {
    &-inner {
        display: flex;
        flex-direction: row-reverse;
        background: #ffffff;
        background: linear-gradient(
            90deg,
            rgba(237, 252, 255, 1) 0%,
            rgba(157, 243, 245, 1) 50%,
            rgba(0, 212, 255, 1) 100%
        );
    }

    &-img {
        display: block;
        margin: 5px;

        width: 100%;
        height: 300px;
        border-radius: 999px;
        object-fit: cover;

        @include mixin.screen(lg) {
            margin: 0;
            border-radius: 0px;
        }
    }

    &-info {
        margin-right: auto;
        width: 30%;
        align-self: center;
        padding: 50px;

        @include mixin.screen(xl) {
            width: 50%;
            padding: 20px;
        }
    }

    &-title {
        font-size: 3.2rem;
        margin-bottom: 16px;
    }
}

.slide-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: var(--line-height);
    @include mixin.screen(xl) {
        -webkit-line-clamp: 3;
    }
}
