@use "../mixin";

.slidezy-wrapper {
    width: 100%;
    overflow: hidden;
}

.slidezy-content {
    position: relative;
}

.slidezy-track {
    display: flex;
}

.slidezy-slide {
    flex: 0 0 auto;
}
.slidezy-prev,
.slidezy-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
}

.slidezy-prev {
    left: 0px;
}

.slidezy-next {
    right: 0px;
}

.slidezy-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
    margin-left: 50px;

    @include mixin.screen(lg) {
        justify-content: center;
        margin-top: 20px;
        margin-left: 0;
    }
}

.slidezy-dot {
    width: 30px;
    height: 10px;
    border-radius: 999px;
    border: none;
    background: #ccc;
    transition: transform 0.3s;

    @include mixin.screen(lg) {
        width: 20px;
    }
}

.slidezy-dot.active {
    margin: 0 5px;
    background: #333;
    transform: scaleX(1.5);
}

// Custom slide style
.slide {
    &-inner {
        display: flex;
        flex-direction: row-reverse;
        background: #ffffff;
        background: linear-gradient(
            90deg,
            rgba(237, 252, 255, 1) 0%,
            rgba(157, 243, 245, 1) 50%,
            rgba(0, 212, 255, 1) 100%
        );
    }

    &-img {
        display: block;
        margin: 5px;

        width: 100%;
        height: 300px;
        border-radius: 999px;
        object-fit: cover;

        @include mixin.screen(lg) {
            margin: 0;
            border-radius: 0px;
        }
    }

    &-info {
        margin-right: auto;
        width: 30%;
        align-self: center;
        padding: 50px;

        @include mixin.screen(xl) {
            width: 50%;
            padding: 20px;
        }
    }

    &-title {
        font-size: 3.2rem;
        margin-bottom: 16px;
    }
}

.slide-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: var(--line-height);
    @include mixin.screen(xl) {
        -webkit-line-clamp: 3;
    }
}
