<div class="container">
    <div class="footer__inner">
        <div class="footer__left">
            <a href="./" class="logo">
                <img
                    src="./assets/images/logo.png"
                    alt="ノスタルジア"
                    class="logo__icon"
                />
                <span class="logo__title">ノスタルジア</span>
            </a>
            <p class="footer__desc">
                故郷は、一つひとつの道が少年時代の笑い声を刻み、海の塩味を帯びた風が吹き、どれだけ遠く離れても心の中にある場所だ。
            </p>
        </div>
        <ul class="footer__list">
            <li class="footer__item">
                <a href="./" class="footer__link">Home</a>
            </li>
            <li class="footer__item">
                <a href="./about.html" class="footer__link">About</a>
            </li>
            <li class="footer__item">
                <a href="./blog.html" class="footer__link">Blog</a>
            </li>
            <li class="footer__item">
                <a href="./contact.html" class="footer__link">Contact</a>
            </li>
        </ul>
        <ul>
            <li class="footer__contact">
                📞 今すぐ相談する:
                <a href="tel: 0927616036" class="footer__link"
                    >+81 92 761 6036</a
                >
            </li>
            <li class="footer__contact" style="margin-top: 10px">
                📧 チャットメール:
                <a href="mailto:ckg23387@st.ckt.ac.jp" class="footer__link"
                    >ckg23387@st.ckt.ac.jp</a
                >
            </li>
        </ul>
        <div class="social">
            <div class="social__title">Get to know us</div>
            <div class="social__wrap">
                <a href="https://www.facebook.com/" target="_blank">
                    <img
                        src="./assets/icon/facebook.svg"
                        alt="Facebook"
                        class="social__icon"
                    />
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img
                        src="./assets/icon/instagram.svg"
                        alt="Instagram"
                        class="social__icon"
                    />
                </a>
                <a href="https://www.line.me/en/" target="_blank">
                    <img
                        src="./assets/icon/line.svg"
                        alt="Line"
                        class="social__icon"
                    />
                </a>
                <a href="https://x.com/" target="_blank">
                    <img
                        src="./assets/icon/twitter.svg"
                        alt="X"
                        class="social__icon"
                    />
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        @Copyright 2025 3rd year, 3PM G3 at the Computer Education College
    </div>
</div>
