<div class="header__top">
    <div class="container">
        <div class="header__wrap">
            <a href="./" class="logo">
                <img
                    src="./assets/images/logo.png"
                    alt="ノスタルジア"
                    class="logo__icon"
                />
                <span class="logo__title">ノスタルジア</span>
            </a>

            <nav class="navbar">
                <ul class="navbar__list tabs">
                    <li class="navbar__item tab-item active">
                        <a href="./" class="navbar__link">Home</a>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./about.html" class="navbar__link">About</a>
                    </li>
                    <li class="navbar__item navbar__item--menu tab-item">
                        <a href="." class="navbar__link">Location</a>
                        <ul class="menu">
                            <li class="menu__item">
                                <a
                                    href="./pages/hatinh/index.html"
                                    class="menu__link"
                                    >ハーテイン</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hatinh/culture.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hatinh/sightseeing.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hatinh/cuisine.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hatinh/experiences.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hatinh/handicrafts.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a
                                    href="./pages/haiphong/index.html"
                                    class="menu__link"
                                    >ハイフォン</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/haiphong/culture.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/haiphong/sightseeing.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/haiphong/cuisine.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/haiphong/experiences.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/haiphong/handicrafts.html"
                                            class="sub-menu__link"
                                            >商業や特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a
                                    href="./pages/hue/index.html"
                                    class="menu__link"
                                    >フエ</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hue/culture.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hue/sightseeing.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hue/cuisine.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hue/experiences.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/hue/handicrafts.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a
                                    href="./pages/daklak/index.html"
                                    class="menu__link"
                                    >ダクラク</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/daklak/culture.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/daklak/sightseeing.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/daklak/cuisine.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/daklak/experiences.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/daklak/handicrafts.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a
                                    href="./pages/vungtau/index.html"
                                    class="menu__link"
                                    >ブンタウ</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/vungtau/culture.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/vungtau/sightseeing.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/vungtau/cuisine.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/vungtau/experiences.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/vungtau/handicrafts.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a
                                    href="./pages/china/index.html"
                                    class="menu__link"
                                    >中国</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/china/culture.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/china/sightseeing.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/china/cuisine.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/china/experiences.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./pages/china/handicrafts.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./blog.html" class="navbar__link">Blog</a>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./contact.html" class="navbar__link"
                            >Contact</a
                        >
                    </li>
                    <div class="line"></div>
                </ul>
            </nav>
        </div>
    </div>
</div>
