<div class="header__top">
    <div class="container">
        <div class="header__wrap">
            <a href="./" class="logo">
                <img
                    src="./assets/images/logo.png"
                    alt="ノスタルジア"
                    class="logo__icon"
                />
                <span class="logo__title">ノスタルジア 絆</span>
            </a>

            <nav class="navbar d-md-none">
                <ul class="navbar__list tabs">
                    <li class="navbar__item tab-item">
                        <a href="./" class="navbar__link">Home</a>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./about.html" class="navbar__link">About</a>
                    </li>
                    <li class="navbar__item tab-item navbar__item--menu">
                        <a href="./location.html" class="navbar__link"
                            >Location</a
                        >
                        <ul class="menu">
                            <li class="menu__item">
                                <a href="./hatinh.html" class="menu__link"
                                    >ハーテイン</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-4.html"
                                            class="sub-menu__link"
                                            >特産品とお土産</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-5.html"
                                            class="sub-menu__link"
                                            >体験とアクティビティ</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./vungtau.html" class="menu__link"
                                    >ブンタウ</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-4.html"
                                            class="sub-menu__link"
                                            >特産品とお土産</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-5.html"
                                            class="sub-menu__link"
                                            >体験とアクティビティ</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./haiphong.html" class="menu__link"
                                    >ハイフォン</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-3.html"
                                            class="sub-menu__link"
                                            >ブンタウのグルメ</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-4.html"
                                            class="sub-menu__link"
                                            >特産品とお土産</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-5.html"
                                            class="sub-menu__link"
                                            >商業や特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./hue.html" class="menu__link">フエ</a>
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-4.html"
                                            class="sub-menu__link"
                                            >特産品とお土産</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-5.html"
                                            class="sub-menu__link"
                                            >体験とアクティビティ</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./daklak.html" class="menu__link"
                                    >ダクラク</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-4.html"
                                            class="sub-menu__link"
                                            >特産品とお土産</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-5.html"
                                            class="sub-menu__link"
                                            >体験とアクティビティ</a
                                        >
                                    </li>
                                </ul>
                            </li>

                            <li class="menu__item">
                                <a href="./china.html" class="menu__link"
                                    >中国</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-4.html"
                                            class="sub-menu__link"
                                            >特産品とお土産</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-5.html"
                                            class="sub-menu__link"
                                            >体験とアクティビティ</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./blog.html" class="navbar__link">Blog</a>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./contact.html" class="navbar__link"
                            >Contact</a
                        >
                    </li>
                    <div class="line"></div>
                </ul>
            </nav>
            <div class="navbar-menu d-none d-md-flex">
                <img
                    src="./assets/icon/menu.svg"
                    alt="Menu"
                    class="navbar-menu__icon"
                />

                <div class="navbar-mobile">
                    <button class="navbar-close">&times;</button>

                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="./" class="navbar__link">Home</a>
                        </li>
                        <li class="navbar__item">
                            <a href="./about.html" class="navbar__link"
                                >About</a
                            >
                        </li>
                        <li class="navbar__item navbar__item--menu-mobile">
                            <a
                                href="./daklak.html"
                                class="navbar__link navbar__link--icon"
                                >Location</a
                            >
                            <ul class="menu">
                                <li class="menu__item">
                                    <a href="./hatinh.html" class="menu__link"
                                        >ハーテイン</a
                                    >
                                    <ul class="sub-menu">
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hatinh.html"
                                                class="sub-menu__link"
                                                >ハーテインの概要</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hatinh-1.html"
                                                class="sub-menu__link"
                                                >人々 や 文化</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hatinh-2.html"
                                                class="sub-menu__link"
                                                >観光地 ＊ 名所</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hatinh-3.html"
                                                class="sub-menu__link"
                                                >郷土料理</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hatinh-4.html"
                                                class="sub-menu__link"
                                                >特産品とお土産</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hatinh-5.html"
                                                class="sub-menu__link"
                                                >体験とアクティビティ</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a href="./vungtau.html" class="menu__link"
                                        >ブンタウ</a
                                    >
                                    <ul class="sub-menu">
                                        <li class="sub-menu__item">
                                            <a
                                                href="./vungtau.html"
                                                class="sub-menu__link"
                                                >ブンタウの概要</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./vungtau-1.html"
                                                class="sub-menu__link"
                                                >人々 や 文化</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./vungtau-2.html"
                                                class="sub-menu__link"
                                                >観光地 ＊ 名所</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./vungtau-3.html"
                                                class="sub-menu__link"
                                                >郷土料理</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./vungtau-4.html"
                                                class="sub-menu__link"
                                                >特産品とお土産</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./vungtau-5.html"
                                                class="sub-menu__link"
                                                >体験とアクティビティ</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a href="./haiphong.html" class="menu__link"
                                        >ハイフォン</a
                                    >
                                    <ul class="sub-menu">
                                        <li class="sub-menu__item">
                                            <a
                                                href="./haiphong.html"
                                                class="sub-menu__link"
                                                >ハイフォンの概要</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./haiphong-1.html"
                                                class="sub-menu__link"
                                                >人々 や 文化</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./haiphong-2.html"
                                                class="sub-menu__link"
                                                >観光地 ＊ 名所</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./haiphong-3.html"
                                                class="sub-menu__link"
                                                >郷土料理</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./haiphong-4.html"
                                                class="sub-menu__link"
                                                >特産品とお土産</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./haiphong-5.html"
                                                class="sub-menu__link"
                                                >商業や特産品</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a href="./hue.html" class="menu__link"
                                        >フエ</a
                                    >
                                    <ul class="sub-menu">
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hue.html"
                                                class="sub-menu__link"
                                                >フエの概要</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hue-1.html"
                                                class="sub-menu__link"
                                                >人々 や 文化</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hue-2.html"
                                                class="sub-menu__link"
                                                >観光地 ＊ 名所</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hue-3.html"
                                                class="sub-menu__link"
                                                >郷土料理</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hue-4.html"
                                                class="sub-menu__link"
                                                >特産品とお土産</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./hue-5.html"
                                                class="sub-menu__link"
                                                >体験とアクティビティ</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a href="./daklak.html" class="menu__link"
                                        >ダクラク</a
                                    >
                                    <ul class="sub-menu">
                                        <li class="sub-menu__item">
                                            <a
                                                href="./daklak.html"
                                                class="sub-menu__link"
                                                >ダクラクの概要</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./daklak-1.html"
                                                class="sub-menu__link"
                                                >人々 や 文化</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./daklak-2.html"
                                                class="sub-menu__link"
                                                >観光地 ＊ 名所</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./daklak-3.html"
                                                class="sub-menu__link"
                                                >郷土料理</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./daklak-4.html"
                                                class="sub-menu__link"
                                                >特産品とお土産</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./daklak-5.html"
                                                class="sub-menu__link"
                                                >体験とアクティビティ</a
                                            >
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu__item">
                                    <a href="./china.html" class="menu__link"
                                        >中国</a
                                    >
                                    <ul class="sub-menu">
                                        <li class="sub-menu__item">
                                            <a
                                                href="./china.html"
                                                class="sub-menu__link"
                                                >中国の概要</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./china-1.html"
                                                class="sub-menu__link"
                                                >人々 や 文化</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./china-2.html"
                                                class="sub-menu__link"
                                                >観光地 ＊ 名所</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./china-3.html"
                                                class="sub-menu__link"
                                                >郷土料理</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./china-4.html"
                                                class="sub-menu__link"
                                                >特産品とお土産</a
                                            >
                                        </li>
                                        <li class="sub-menu__item">
                                            <a
                                                href="./china-5.html"
                                                class="sub-menu__link"
                                                >体験とアクティビティ</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar__item">
                            <a href="./blog.html" class="navbar__link">Blog</a>
                        </li>
                        <li class="navbar__item">
                            <a href="./contact.html" class="navbar__link"
                                >Contact</a
                            >
                        </li>
                    </ul>
                    <div class="navbar-social-mobile social">
                        <div class="navbar-social-mobile__title social__title">
                            Get to know us
                        </div>
                        <div class="navbar-social-mobile__wrap social__wrap">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img
                                    src="./assets/icon/facebook.svg"
                                    alt="Facebook"
                                    class="social__icon"
                                />
                            </a>
                            <a
                                href="https://www.instagram.com/"
                                target="_blank"
                            >
                                <img
                                    src="./assets/icon/instagram.svg"
                                    alt="Instagram"
                                    class="social__icon"
                                />
                            </a>
                            <a href="https://www.line.me/en/" target="_blank">
                                <img
                                    src="./assets/icon/line.svg"
                                    alt="Line"
                                    class="social__icon"
                                />
                            </a>
                            <a href="https://x.com/" target="_blank">
                                <img
                                    src="./assets/icon/twitter.svg"
                                    alt="X"
                                    class="social__icon"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="copyright copyright-mobile">
                        @Copyright 2025 3rd year, 3PM G3 at the Computer
                        Education College
                    </div>
                </div>
                <div class="overlay-mobile"></div>
            </div>
        </div>
    </div>
</div>
