<div class="header__top">
    <div class="container">
        <div class="header__wrap">
            <a href="./" class="logo">
                <img
                    src="./assets/images/logo.png"
                    alt="ノスタルジア"
                    class="logo__icon"
                />
                <span class="logo__title">ノスタルジア</span>
            </a>

            <nav class="navbar">
                <ul class="navbar__list tabs">
                    <li class="navbar__item tab-item active">
                        <a href="./" class="navbar__link">Home</a>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./about.html" class="navbar__link">About</a>
                    </li>
                    <li class="navbar__item navbar__item--menu tab-item">
                        <a href="." class="navbar__link">Location</a>
                        <ul class="menu">
                            <li class="menu__item">
                                <a href="hatinh.html" class="menu__link"
                                    >ハーテイン</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-4.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="hatinh-5.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./haiphong.html" class="menu__link"
                                    >ハイフォン</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-4.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./haiphong-5.html"
                                            class="sub-menu__link"
                                            >商業や特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./hue.html" class="menu__link">フエ</a>
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-4.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./hue-5.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./daklak.html" class="menu__link"
                                    >ダクラク</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-4.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./daklak-5.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./vungtau.html" class="menu__link"
                                    >ブンタウ</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-4.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./vungtau-5.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="menu__item">
                                <a href="./china.html" class="menu__link"
                                    >中国</a
                                >
                                <ul class="sub-menu">
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-1.html"
                                            class="sub-menu__link"
                                            >人々 や 文化</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-2.html"
                                            class="sub-menu__link"
                                            >観光地 ＊ 名所</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-3.html"
                                            class="sub-menu__link"
                                            >郷土料理</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-4.html"
                                            class="sub-menu__link"
                                            >エンターテイメント * 体験</a
                                        >
                                    </li>
                                    <li class="sub-menu__item">
                                        <a
                                            href="./china-5.html"
                                            class="sub-menu__link"
                                            >商業 や 特産品</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./blog.html" class="navbar__link">Blog</a>
                    </li>
                    <li class="navbar__item tab-item">
                        <a href="./contact.html" class="navbar__link"
                            >Contact</a
                        >
                    </li>
                    <div class="line"></div>
                </ul>
            </nav>
        </div>
    </div>
</div>
